APP_NAME=e-learning
APP_ENV=development
APP_KEY= your app key
APP_DEBUG=true
APP_VERSION=1.9.7
APP_URL=app-url
LOG_CHANNEL=stack
JWT_SECRET=jwt-secret
API_KEY=1234

# Database Settings
DB_CONNECTION = mysql
DB_HOST = 127.0.0.1
DB_PORT = 3306
DB_DATABASE = db-name
DB_USERNAME = db-user	
DB_PASSWORD = db-password

# SMTP Settings
MAIL_DRIVER=smtp
MAIL_MAILER=smtp
MAIL_HOST=smtp.gmail.com
MAIL_PORT=587
MAIL_USERNAME=email-username
MAIL_PASSWORD=email-password  # Use the app password generated above
MAIL_ENCRYPTION=tls
MAIL_FROM_ADDRESS=email-address
MAIL_FROM_NAME=email-from-name

# S3 Storage
MINIO_KEY=
MINIO_SECRET=
MINIO_REGION=
MINIO_BUCKET=
MINIO_ENDPOINT=


CERTIFICATE_UID= certificate-uid

CERTIFICATE_API= certificate-api-key

CACHE_DRIVER=null




